/*Reset*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
html {
  -webkit-text-size-adjust: 100%;
}
body {
  min-height: 100dvh;
}
button,
input,
select,
textarea {
  font: inherit;
}
img,
picture,
video,
canvas {
  max-width: 100%;
  display: block;
}
